/*Dropdown menus*/
.dropdown {
  .dropdown-menu {
    border: none;
    border-radius: 0;
    border-top: 1px solid $gray-400;
    padding: 0;
    max-height: 0;
    visibility: hidden;
    transition: all 0.6s ease-out;
    overflow: hidden;

    .dropdown-item {
      text-transform: capitalize;
      font-size: .8em;
      padding: 0.65rem;
      border-bottom: 1px solid $gray-400;
      transition: 0.3s ease-out;
      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
  &:hover > .dropdown-menu {
    display: block;
    max-height: 800px;
    visibility: visible;
  }
}

// Utility class to hide arrow from dropdown

.dropdown.no-arrow {
  .dropdown-toggle::after {
    display: none;
  }
}
