// Mixins Fonts
@mixin serf-font {
    font-family: 'Roboto', sans-serif;
}

@mixin body-font {
    font-family: 'Open Sans', sans-serif;
}

@mixin heading-font {
    font-family: 'Poppins', sans-serif;
}