body{
    margin: 0;
    padding: 0;
    background: $white;
    overflow-x: hidden;
    @include heading-font
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
// Highlighting color
img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
}